{% if customer %}
  <button type="button"
          id="variantAddToCartBtn-bottom"
          name="addToCart" 
          class="product-form__add-button button button--primary wholesale-add-to-cart-btn"
          onclick="ProductAjaxAddToCart(); return false;">Add</button>
{% endif %}